# Build process
build

# Node
node_modules

# Mac specific
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# IDEA files
.idea/encodings.xml
.idea/greetings-web3-1.0.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
